body {
    background-color: #121212;
    color: #e0e0e0;
    font-family:'Times New Roman', Times, serif;
}
.logo {
    width: 100px;
    height: 50px;
    align-self: center;
}

.navBar {
    font-family: 'Times New Roman', Times, serif;
    padding-left: 15px;
    padding-right: 15px;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(Images/bg.png);
    background-color: #1e1e1e;
}

.navLinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navLinks h2 {
    font-size: 20px;
    color: #f5f5f5;
    padding-right: 950px;
}

.navLinks ul li a {
    text-decoration: none;
    font-size: 13px;
    color: #f5f5f5;
}

.navLinks ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navLinks ul li:hover:after {
    width: 75%;
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    color: #f5f5f5;
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
    text-decoration: none;
}
.selectionsButtons {
    margin-right: -1px;
    float: right;
    flex-direction: row;
}
.btn {
    width: 100px;
    height: 40px;
    font-family: sans-serif;
    font-size: 16px;
    background: #FF911C;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    border-width: 2px;
    color: #121212;
}

.btn:hover {
    cursor: pointer;
    background: #ffb74d;
}
.sTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f0ecea;
    margin-right: 370px;
    margin-left: 50px;
    height: 40px;
    border-radius: 4px;
    border: 2px solid black;
    color: black;
}

.seats{
    align-items: center;
    padding-left: 327px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-image: #121212;
    background-position: center;
    background-size: cover;
    margin-top: -1px;
    
}

input[type="checkbox"]:not(:checked), input[type="checkbox"]:checked{
    position: absolute;
    left: -9999%;

}              
input[type="checkbox"] + label{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    display: inline-block;
    /*padding: 20px;*/
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    border: 3px solid black;
    border-radius: 14px;
    color: azure;
    background-color: rgb(6, 27, 100);
    margin-bottom: -1px;
    margin-top: -1px;
    margin-right: 3px;
    margin-left: 3px;
    /*margin: 3px;*/
    /**/
}
input[type="checkbox"]:hover + label{
    border: 3px solid black;
    border-radius: 10px;
    color: aliceblue;
    background-color: rgb(32, 32, 238);
}

input[type="checkbox"]:checked + label{
    border: 3px solid black;
    border-radius: 10px;
    color: aliceblue;
    background-color: rgb(246, 177, 94);
}

.dSeats{
    padding-top: 30px;
    font-size: 20px;
    background-color: #121212;
    padding-left: 35%;
    padding-right: 35%;

}

.dSeats-inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#nSeats, #seatNO, #tctPrice, #sTot{
    border-radius: 4px;
}

.footer {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(Images/bg.png);
    height: 220px;
    text-align: center;
    background-position: center;
    background-size: cover;
    margin-top: 100px;
    background-color: #1e1e1e
}

.footer h1 {
    padding: 10px;
    font-size: 20px;
    color: #e0e0e0;
    margin-left: 10px;
}

.footer h3 {
    color: #b0b0b0;
    margin-left: 10px;
}

.footer h5 {
    color: #ffffff;
    padding: 5px;
    line-height: 1.5;
}

.fa-brands {
    color: #36abf4;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}